.content{
    width: 90%;
    margin: 0 auto;
}

.all_info{
    width: 85%;
    margin: 0 auto;
}

.form-horizontal{
    width: 90%;
    margin: 5px auto;
}

#edit-content{
    width: 90%;
    margin: 0 auto;
}

.form-group div{
    width: 70%;
}

.form-group div input{
    width: 70%;
    height: 28px;
    line-height: 28px;
    border: 1px solid rgb(207, 203, 203);
    padding: 0 5px;
}

.form-group div div{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 20%;
    margin-right: 20px;
    text-align-last: right;
    font-size: 14px;
}

.btn-group{
    width: 100px;
    margin: 10px auto;
}

.list-body{
    width: 70%;
    border:1px solid #ccc;
    margin: 10px auto;
    padding-bottom: 30px;
}

/* .list-body .title{
    width: 100px;
    font-size: 24px;
    margin: 20px auto;

} */

.list-body form{
    margin: 0 auto;
}
.form-group div{
    margin: 0 auto;
}

.btn-group{
    width: 100px;
    margin: 10px auto;
}

#title{
    width: 20%;
    text-align: center;
    font-size: 24px;
    color: blue;
    padding-top: 20px;
    border-radius: 5px;
    margin: 5px auto;
}

#list-body{
    margin: 10px auto;
}
.title{
    width: 15%;
    text-align: center;
    font-size: 24px;
    color: blue;
    border-bottom: 5px solid blue;
    margin-bottom: 10px;
    border-radius: 5px;
}
#chooseNecessity{
    color: #28a4c9;
}
#chooseNecessity:hover{
    color: red;
}
