.head{
    margin: 10px auto;
    width: 90%;
    /*margin: 0 auto;*/
}
.head .logo{
    background: url(../images/logo_school.png) no-repeat left top;
    width: 300px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.head h2{
    display: inline-block;
    font-size: 1.5em;
    height: 50px;
    line-height: 50px;
    font-family: "宋体", serif;
    color: #0050D0;
}
.head .info{
    background-color: #e0e0e0;
    float: right;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 20px;
}

/*#myInfo{
    display: none;
}
.logInfo{
    padding: 2px 20px;
}*/

#myInfo li{
    background-color: #e0e0e0;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#myInfo li a{
    text-decoration: none;
}

#myInfo li a:hover{
    background-color: blue;
    color: white;
}

/*.head .info ul li{*/
    /*list-style: none;*/
    /*float: left;*/
    /*font-size: 14px;*/
    /*position: relative;*/
/*}*/
/*.head .info ul li a{*/
    /*text-decoration: none;*/
    /*margin-left: 10px;*/
/*}*/
/*.head .info ul li a:hover{*/
    /*background-color: blue;*/
    /*color: white;*/
/*}*/

#myInfo{
    display: none;
}
/*.logInfo{
    padding: 2px 20px;
}*/

/* .nav{
    width: 90%;
    margin: 10px auto;
    border-bottom: 1px solid #ddd;
    height: 10%;
} */

.btn-group{
    width: 100px;
    margin: 10px auto;
}

/* .nav{
    position: absolute;
    left: 10px;
    right: 10px;
} */

.all_info{
    margin: 10px auto;
} 



