/* .list-body{
    margin: 10px auto;
}
#title{
    width: 15%;
    font-size: 24px;
    color: blue;
    border-bottom: 5px solid blue;
    margin-bottom: 10px;
    border-radius: 5px;
}
#chooseNecessity{
    color: #28a4c9;
}
#chooseNecessity:hover{
    color: red;
} */